# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
df = pd.read_csv("employees_advanced.csv")
df.head()

,Unnamed: 0,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
df["Annual Salary"].head()

0    101442.0
1     94122.0
2    101592.0
3    110064.0
4         NaN
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
df.isna().sum()

Unnamed: 0               0
Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [12]:
# Your code here:
salary = df.loc[df["Salary or Hourly"] == "Salary"].count()["Name"]
salary

25161

In [13]:
hourly = df.loc[df["Salary or Hourly"] == "Hourly"].count()["Name"]
hourly

8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
# Your code here:
lst = list(df["Department"].unique())
res = []

for dep in lst:
    tup = (dep, df.loc[df["Department"] == dep].count()["Name"])
    res.append(tup)
    
res

[('POLICE', 13414),
 ('GENERAL SERVICES', 980),
 ('WATER MGMNT', 1879),
 ('OEMC', 2102),
 ('CITY COUNCIL', 411),
 ('AVIATION', 1629),
 ('STREETS & SAN', 2198),
 ('FIRE', 4641),
 ('FAMILY & SUPPORT', 615),
 ('PUBLIC LIBRARY', 1015),
 ('TRANSPORTN', 1140),
 ("MAYOR'S OFFICE", 85),
 ('HEALTH', 488),
 ('BUSINESS AFFAIRS', 171),
 ('LAW', 407),
 ('FINANCE', 560),
 ('CULTURAL AFFAIRS', 65),
 ('COMMUNITY DEVELOPMENT', 207),
 ('PROCUREMENT', 92),
 ('BUILDINGS', 269),
 ('ANIMAL CONTRL', 81),
 ('CITY CLERK', 84),
 ('BOARD OF ELECTION', 107),
 ('DISABILITIES', 28),
 ('HUMAN RESOURCES', 79),
 ('DoIT', 99),
 ('BUDGET & MGMT', 46),
 ('TREASURER', 22),
 ('INSPECTOR GEN', 87),
 ('HUMAN RELATIONS', 16),
 ('COPA', 116),
 ('BOARD OF ETHICS', 8),
 ('POLICE BOARD', 2),
 ('ADMIN HEARNG', 39),
 ('LICENSE APPL COMM', 1)]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [24]:
# Your code here:
from scipy import stats
df_hourly = df.loc[df["Salary or Hourly"] == "Hourly"]
df_hourly

,Unnamed: 0,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
21,21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
26,26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
33,33,"ABRAHAMSON, MICHAEL C",STUDENT INTERN - MAYOR'S FELLOWS,MAYOR'S OFFICE,F,Hourly,35.0,NaN,20.00
36,36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
40,40,"ABRAMS, TIFFANY",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07
42,42,"ABREU, DILAN",SEWER BRICKLAYER,WATER MGMNT,F,Hourly,40.0,NaN,44.88
48,48,"ABRONS, KENNETH L",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
52,52,"ABUHASHISH, AWWAD",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
56,56,"ACCARDI, JOHNNA L",EQUIPMENT DISPATCHER,AVIATION,F,Hourly,40.0,NaN,36.22
57,57,"ACCARDO, ANTHONY D",CONSTRUCTION LABORER,AVIATION,F,Hourly,40.0,NaN,40.20
62,62,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
77,77,"ACEVEDO, JAVIER",ASPHALT LABORER,TRANSPORTN,F,Hourly,40.0,NaN,40.20
87,87,"ACEVEDO, STEVEN A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,32.04
90,90,"ACHA, SHARAZAN MARLENE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
95,95,"ACKLIN, QIANA D",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
96,96,"ACOSTA, CESAR I",STEAMFITTER,WATER MGMNT,F,Hourly,40.0,NaN,47.50
99,99,"ACOSTA, JORGE",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
106,106,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
108,108,"ACRES, ANTHONY E",LABORER,GENERAL SERVICES,F,Hourly,40.0,NaN,40.20
111,111,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
112,112,"ADAMCZYK JR, JAN",BOOTER - PARKING,FINANCE,F,Hourly,40.0,NaN,32.25
115,115,"ADAME, JORGE A",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
...,...,...,...,...,...,...,...,...,...
33079,33079,"ZIELINSKI, THEODORE J",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33080,33080,"ZIEMANN, DAVID M",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33081,33081,"ZIEMANN, DONALD W",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33087,33087,"ZIENTARSKI, DAVID A",OPERATING ENGINEER-GROUP A,GENERAL SERVICES,F,Hourly,40.0,NaN,47.44
33090,33090,"ZIMMERMAN, EDWARD A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33094,33094,"ZINCHUK, BRIAN C",OPERATING ENGINEER-GROUP A,WATER MGMNT,F,Hourly,40.0,NaN,47.44
33103,33103,"ZIVAT, MICHAEL",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33104,33104,"ZIZUMBO, DANIEL",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33105,33105,"ZIZUMBO, DAVID",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33106,33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33108,33108,"ZIZZO, RUSS D",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33112,33112,"ZOCHOWSKI, DAVID J",OPERATING ENGINEER-GROUP C,AVIATION,F,Hourly,40.0,NaN,45.07
33120,33120,"ZOLTEK, JOHN J",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
33128,33128,"ZOVKO, RICHARD A",HOISTING ENGINEER - MECHANIC,GENERAL SERVICES,F,Hourly,40.0,NaN,52.10
33132,33132,"ZUBECK, JOHN",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33135,33135,"ZUCCARELLI, ROBERT A",BRIDGE AND STRUCTURAL IRON WORKER,TRANSPORTN,F,Hourly,40.0,NaN,46.20
33136,33136,"ZUCKER, MICHAEL J",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33145,33145,"ZUMARAS, ROLAND A",AIRPORT MAINTENANCE FOREMAN,AVIATION,F,Hourly,40.0,NaN,35.57
33147,33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33150,33150,"ZUNIGA JR, JAMES",GARAGE ATTENDANT,GENERAL SERVICES,F,Hourly,40.0,NaN,23.31
33156,33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33158,33158,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33161,33161,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33164,33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [30]:
stats.ttest_1samp(df_hourly["Hourly Rate"], 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [35]:
# Your code here:
import math
import scipy as sc
df_hourly = df[df['Salary or Hourly'] == 'Hourly']['Hourly Rate']
size = df_hourly.shape[0]
std = np.std(df_hourly)*(math.sqrt(size/(size-1)))
sc.stats.t.interval(0.95, size-1, loc = np.mean(df_hourly), scale=std/math.sqrt(size))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [36]:
# Your code here:
df_annual = df[df["Department"] == "POLICE"]["Annual Salary"]
size = df_annual.shape[0]
std = np.std(df_annual)*(math.sqrt(size/(size-1)))
sc.stats.t.interval(0.95,size-1 ,loc = np.mean(df_annual), scale=std/math.sqrt(size))

(86177.17167792388, 86795.6573283429)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: